* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: auto 12px;
}
body * {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-x: center;
  background-position-y: 65.6%;
}

#app {
  width: fit-content;
  margin: auto auto;
}

header {
  margin-bottom: 63px;
  text-align: center;
}

#cards {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    gap: 20px;
}

.cards {
  padding: 32px 0px;
  text-align: center;
  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}

.cards h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #f7dd43;
}

.cards h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.cards ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards ul li + li {
  padding-top: 24px;
  border-top: 1px solid #323238;
}

.cards ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 70%;
  color: #e1e1e6;
  padding-bottom: 28px;
  justify-content: center;
}

.estadio {
  font-style: italic;
  font-size: 35%;
  color: gray;
}

.teamName {
  justify-content: center;
  text-transform: capitalize;
  color: antiquewhite;
}

.flagLeft {
  width: 100px;
  height: 100px;
  justify-self: start;
}

.flagRight {
  width: 100px;
  height: 100px;
  justify-self: end;
}

.button {
  font-weight: 900;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #4c248d;
  border-radius: 6px;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;
  color: #ffffff;
}

/* media queries */
@media (min-width: 970px) {
  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    align-items: flex-start;
    max-width: fit-content;
  }
}

